# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# =========================
# PyCharm
# =========================
.idea/
*.iml

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs & temp files
# =========================
*.log
logs/
tmp/
temp/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Cache
# =========================
.cache/
*.cache

# =========================
# VSCode
# =========================
.vscode/